/* reset */
html,blockquote,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul,section,body {margin:0;padding:0}
ol,ul {list-style:none}
a {text-decoration:none}
fieldset,img {border:0}
:focus{outline: none;}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{
	zoom:1;
}

@media screen and (min-width: 320px) {html {font-size: 14px;}}
@media screen and (min-width: 360px) {html {font-size: 16px;}}
@media screen and (min-width: 400px) {html {font-size: 18px;}}
@media screen and (min-width: 440px) {html {font-size: 20px;}}
@media screen and (min-width: 480px) {html {font-size: 22px;}}
@media screen and (min-width: 640px) {html {font-size: 28px;}}

.warper{
	width:100%;
	max-width: 640px;
	margin:0 auto;
	padding-bottom: 3.2rem;
}
.banner img{
	width:100%;
	display: block;
}
.hotModels-title{
	background: url(../images/bg.jpg) left top;
	position: relative;
	border-bottom: 1px solid #6a6a6a;
}
.hotModels-title1{
	font-size: 0.6rem;	
	text-align: center;
	padding-top: 0.4rem;
	color:#343434;
}
.hotModels-title2{
	font-size: 1.2rem;
	text-align: center;
	padding-bottom: 0.5rem;
}
.hotModels-more{
	color:#5381c6;
	font-size: 0.8rem;
	position: absolute;
	right: 1.2rem;
	top: 1rem;
}
.models{
	padding-bottom: 3.2rem;
}
.models-cell{
	width:calc(50% - 1px);
	position: relative;
	border-right:1px solid #6a6a6a;
	border-bottom:1px solid #6a6a6a;
	text-align: center;
	padding: 0;
	margin: 0;
	float: left;
}
.models-cell img{
	width:80%;
}
.models-txt{
	width:100%;
	background: #efefef;
	padding-bottom: 0.5rem;
}
.models-txt1{
	font-size: 1rem;
	padding-top: 0.8rem;
}
.models-txt2{
	font-size: 0.8rem;
	padding: 0.3rem;
}
.models-txt3{
	display: block;
	width: 6.5rem;
	font-size: 0.6rem;
	color:#fff;
	background: #8d1c16;
	padding: 0.1rem 0;
	margin: 0 auto;
}
.models-cell:nth-child(2n){
	border-right:0;
}


/* 底部导航栏 */
.footer{
	width:100%;
	position: fixed;
	z-index: 999;
	bottom: 0;
	border-top:1px solid #b2b2b2;
	background-color: #fff;
	padding: 0.3rem 0;
	max-width: 640px;
}
.footer a{
	width: 25%;
	float:left;
	text-align: center;
	font-size: 0.8rem;
	color: #595959;
	position: relative;
}

.footer a.active{
	color:#6b90a2;
}
.footer .nav-icon{
	width: 25px;
	height: 25px;
	background-size: cover;
	margin: 10px auto;
}
.footer .iconfont{
	font-size: 1.3rem;
	width: 1rem;
	height: 1rem;
}

/* 提车风采 */
.list{
	padding-bottom: 3.2rem;
	max-width: 640px;
	margin: 0 auto;
}
.lift-title{
	font-weight: normal;
	font-size: 1.2rem;
	text-align: center;
	color:#fff;
	background: #4c5773;
	padding:1rem;
}
.lift-cell{
	padding: 0.8rem 0 0.3rem 0.5rem;
	position: relative;
	border-bottom: 1px solid #545454;
}
.lift-cell a{
	display:block;
	overflow: hidden;
}
.list-img{
	width: 8rem;
	height: 5.2rem;
	float:left;
}
.list-txt1{
	color:#454545;
	float: left;
	width: 13rem;
	padding-left: 1rem;
}
.list-txt2{
	color:#7e7e7e;
	font-size: 0.6rem;
	position: absolute;
	right: 2rem;
	bottom: 0.8rem;
}
.list-txt2 .iconfont{
	color:#b22130;
	font-size: 1rem;
	position: relative;
	top: 2px;
}
.list-txt3{
	clear:both;
	color:#7e7e7e;
	font-size: 0.6rem;
	padding: 0.3rem 0 0 0;
}

/* 新闻中心 */
.news{
	padding-bottom: 3.2rem;
	max-width: 640px;
	margin: 0 auto;
	padding-bottom: 3.2rem;
}
.news-title{
	font-weight: normal;
	font-size: 1.2rem;
	text-align: center;
	color:#fff;
	background: #4c5773;
	padding:1rem;
}
.news-conetent{
	color:#454545;
	padding:0 1rem;
}
.news-txt1{
	color:#454545;
	font-weight: bold;
}
.news-txt1 span{
	font-size: 0.8rem;
	font-weight: normal;
}
.news-img1{
	width: 70%;
	margin: 0.4rem 0;
}
.news-txt2{
	font-size: 0.6rem;
	/* text-indent: 2rem; */
	line-height: 1.2rem;
	padding: 0.5rem 0;
}
.news-img2{
	width:31%;
	margin-right: 2%;
	margin-bottom: 2%;
}
.news-img2:nth-of-type(3n+2){
	margin-right:0;
}
.news-comment{
	padding-top:1rem;
}
.news-img{
	width:3rem;
	float:left;
	height: 3rem;
	overflow: hidden;
	border-radius: 3rem;
}
.news-img img{
	width:3rem;
	height: 3rem;
}
.comment-content{
	float:right;
	width:calc(100% - 4rem);
}
.news-name{
	font-size: 1rem;
	padding-top: 0.5rem;
}
.news-date{
	font-size: 0.6rem;
	color:#ccc;
}

/* 热门品牌 */
.brand{
	padding-bottom: 3.2rem;
	max-width: 640px;
	margin: 0 auto;
}
.brand-title{
	font-weight: normal;
	font-size: 1.2rem;
	text-align: center;
	color:#fff;
	background: #4c5773;
	padding:1rem;
}


#letter{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    font-size: 75px;
    color: #555;
    text-align: center;
    line-height: 100px;
    background: rgba(145,145,145,0.6);
    position: fixed;
    left: 50%;
    top: 50%;
    margin:-50px 0px 0px -50px;
    z-index: 99;
    display: none;
}
.sort_box{
    width: 100%;
    overflow: hidden;
}
.sort_list{
    padding: 0.6rem 2rem 0.6rem 1rem;
    position: relative;
    line-height: 3rem;
}

.sort_list .num_logo{
    width: 3.125rem;
    height: 3.125rem;
    overflow: hidden;
    float: left;
}
.sort_list .num_logo img{
    width: 3.125rem;
    vertical-align: middle;
}
.sort_list .num_name{
    color: #000;
    border-bottom: 1px solid #ededed;
    float: left;
    margin-left: 1rem;
    width: 15rem;
}

.sort_letter{
    height: 1.875rem;
    line-height: 1.875rem;
    padding-left: 5%;
    color: #1e1f24;
    font-size: 0.8rem;
    border-bottom: 1px solid #f9f9f9;
    background: #f1eff5;
}
.initials{
    position: fixed;
    top: 4rem;
    right: 0px;
    height: 100%;
    width: 5%;
    padding-right: 2%;
    text-align: center;
    font-size: 0.6rem;
    z-index: 99;
    background: rgba(145,145,145,0);
}
.initials li img{
    width: 0.875rem;
}

.brand-cell{
	width:33.3%;
	float:left;
	text-align: center;
	padding: 1rem 0;
}
.brand-cell img{
	width: 65%;
}
.brand-txt{
	width: 100%;
	text-align: center;
	font-size: 1rem;
}



/* 汽车详情 */
.detail{
	width:100%;
	max-width: 640px;
	margin:0 auto;
	padding-bottom: 3.2rem;
}
.detail-title{
	border-top:1px solid #787878;
	border-bottom:1px solid #787878;
	font-size: 0.8rem;
	position: relative;
}
.detail-title img{
	width:22%;
	vertical-align: middle;
}
.detail-test{
	position: absolute;
	left: 36%;
	background: #4c5773;
	color: #fff;
	padding: 0.2rem;
	/* width: 21%; */
	top: 20%;
}
.detail-test span{
	display: inline-block;
	font-size: 0.6rem;
	margin: 0 0.2rem;
}
.detail-txt2{
	float:right;
	padding-right:2rem;
	padding-top:0.2rem;
	font-size:0.6rem;
}
.detail-txt1{
	position:absolute;
	top: 1.2rem;
	right:2rem;
	color:#545454;
	font-size: 0.9rem;
}
.detail-question,.detail-car{
	padding:0.3rem 2rem 2.5rem 2rem;
	border-bottom: 1px solid #787878;
}
.detail-title2{
	padding-left: 0.7rem;
	font-weight: normal;
	position: relative;
}
.detail-question img{
	width: 3%;
	vertical-align: middle;
	margin-right: 0%;
	float: left;
	position: relative;
	top: 0.5rem;
}
.detail-question p{
	font-size: 0.6rem;
	line-height: 1.6rem;
}
.detail-title2:before{
	content: "●";
	display: block;
	position: absolute;
	left:0;
	font-size: 1rem;
}
.detail-txt3{
	border:1px solid #787878;
	font-size: 0.8rem;
	margin: 0.4rem 0;
	padding: 0.5rem;
}
.detail-txt3 input{
	border:0 none;
}
.detail-btn{
	display: block;
	width: 80%;
	margin:0 auto;
	color:#fff;
	background: #787878;
	text-align: center;
	padding: 0.5rem 0;
	margin-top: 1rem;
	border: 0 none;
}

/* 个人中心 */
.header2 {
	padding: 5rem 0 1rem 1rem;
	background: #4c5773;
	background-size: cover;
	position: relative;
} 
.header2 .header-img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 3px solid #6a789c;
	text-align: center;
	overflow: hidden;
	float: left;
}
.header3{
	padding: 4rem 0 2rem 1rem;
	background: #4c5773;
	background-size: cover;
	position: relative;
}
.header3 .header-img{
	margin: 0 auto;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 3px solid #6a789c;
	text-align: center;
	overflow: hidden;
}
.header3 .header-txt{
	text-align: center;
	color:#fff;
	font-size: 1rem;
	font-weight: bold;
}
.header2 .header-img img ,.header3 .header-img img{
	width: 4rem;
	height: 4rem;
}
.header2 .header-name{
	text-align: center;
	color:#fff;
	font-size: 1rem;
	font-weight: bold;
	float: left;
	padding-top: 1.5rem;
	padding-left: 1rem;
}
.header2 .iconfont{
	font-size: 1rem;
	color:#fff;
	font-weight: bolder;
	position: absolute;
	right:2rem;
	top: 6.5rem;
}
.personal{
	width:100%;
	overflow: hidden;
	background: #fff;
	margin-top: 1rem;
}
.personal li{
	display: block;
	padding: 3%;
	position: relative;
	border-bottom: 1px solid #dbdbdb;
}
.personal li:after{
	font-family: "iconfont" !important;
	font-style: normal;
    -webkit-font-smoothing: antialiased;
	content:"\e620";
	position:absolute;
	right: 3%;
	top: 23%;
	color:#c3c3c3;
	font-size: 1.0rem;

}
.personal li a{
	color:#000;
	font-size: 1rem;
}

.personal li i{
	color:#ccc;
	font-size: 1.2rem;
	float:left;
	padding-right: 0.5rem;
}
.quit-btn{
	display: block;
	border-top:1px solid #ededed;
	border-bottom: 1px solid #ededed;
	background: #fff;
	color:#989898;
	text-align: center;
	margin-top: 2rem;
	line-height: 2.5rem;
}

.order-content li{
	padding:1rem;
	border-bottom: 5px solid #fbfbfb;
}
.order-content li a{
	display: block;
	overflow: hidden;
}
.order-content li img{
	float:left;
	width:8rem;
	margin-right:1rem;
}
.order-txt1{
	color :#000;
	float:left;
	width:11rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1rem;
	margin-left: 0.5rem;
}
.order-txt2{
	color :#c8c8c8;
	float: left;
	width:11rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.875rem;
	margin-left: 0.5rem;
}
.btncsgwc{
	z-index:20;
	height: 1rem;
	line-height: 1rem;
	width: 1rem;
	background-color:#f61d4b;
	border: 0.2em solid #fff;
	position: absolute;
	left: 3rem;
	top: 0;
	border-radius:3em;
	text-align:center;
	color:#fff;
	font-family:"黑体";
	font-size:0.7em;
}
@media screen and (min-width: 640px) {
	.footer{
		left: 50%;
    	margin-left: -320px;
	}
	.initials{
		right: 50%;
	    margin-right: -332px;
	    padding-right: 0;
	    height: 800px !important;
	}
	.initials ul li{
		height: 28px !important;
	}
}