/* reset */
html,blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0;padding:0}
ol,ul {list-style:none}
a {text-decoration:none}
fieldset,img {border:0}
:focus{outline: none;}

.warp{
	padding-bottom: 60px;
}	
.header{
	width:100%;
	padding: 16% 0;
	background: url(../images/headbg.jpg) no-repeat  center;
	background-size: cover;
}
.header .header-img{
	width: 70px;
	height: 70px;
	border-radius: 40px;
	border:2px solid #fff;
	text-align: center;
	overflow: hidden;
	float: left;
}
.header .header-img img{
	width: 70px;
	height: 70px;
}
.header .header-name{
	color:#fff;
	font-size: 14px;
	float: left;
	padding-left: 5%;
	padding-top: 4%;
	line-height: 20px;
}
.header-detail{
	display: block;
	overflow: hidden;
	padding: 0 5%;
	position: relative;
}
.header-txt1{
	color:#fff;
	font-size: 16px;
}
.header-txt2{
	color:#fff;
	font-size: 14px;
}
.header-detail:after{
	content: ">";
	position: absolute;
	right: 7%;
	top: 33%;
	color: #fff;
	font-weight: 900;
	font-size: 18px;
}
.order{
	overflow: hidden;
	border-bottom: 1px solid #dbdbdb;
}
.order-cell{
	float:left;
	width:calc(25% - 1px);
	text-align: center;
	margin: 4% 0;
	border-right: 1px solid #4c4c4c;
	color:#4c4c4c;
}
.order-cell:last-child{
	border:0 none;
}

.personal-list{
	width:100%;
	overflow: hidden;
}
.personal-list .personal-cell{
	display: block;
	padding: 3%;
	position: relative;
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
	margin: 3% 0;
}
.personal-list .personal-cell:after{
	content: ">";
	position: absolute;
	right: 3%;
	top: 23%;
	color: #5c626b;
	font-size: 16px;
	font-weight: 800;
}
.personal-list .personal-img{
	float:left;
	margin-right: 3%;
}
.personal-list .personal-img img{
	width:16px;
}
.personal-list .personal-txt{
	font-size:14px;
	color: #4b525b;
}

/* 底部导航栏 */
.footer{
	width:100%;
	position: fixed;
	z-index: 999;
	bottom: 0;
	border-top:1px solid #b2b2b2;
	background-color: #fff;
}
.footer a{
	width:20%;
	float:left;
	text-align: center;
	font-size: 12px;
	color:#9b9b9b;
}
.footer .nav-icon{
	width: 25px;
	height: 25px;
	background: url("../images/nav.png") no-repeat;
	background-size: cover;
	margin: 10px auto;
}
.nav1 .nav-icon{
	background-position: -145px 0;
}
.nav2 .nav-icon{
	background-position: -180px 0;
}
.nav3 .nav-icon{
	background-position: -215px 0;
}
.nav4 .nav-icon{
	background-position: -250px 0;
}
.nav5 .nav-icon{
	background-position: -284px 0;
}
.nav1.active .nav-icon{
	background-position: 0 0;
}
.nav2.active .nav-icon{
	background-position: -27px 0;
}
.nav3.active .nav-icon{
	background-position: -53px 0;
}
.nav4.active .nav-icon{
	background-position: -82px 0;
}
.nav5.active .nav-icon{
	background-position: -115px 0;
}
.footer .active .nav-txt{
	color:#db3652;
}