/* reset */
html,blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0;padding:0}
ol,ul {list-style:none}
a {text-decoration:none}
fieldset,img {border:0}
:focus{outline: none;}

.warp{
	padding-bottom: 60px;
}
.personal-cell{
	display: block;
	padding: 3%;
	position: relative;
	border-bottom: 1px solid #dbdbdb;
	margin: 3% 0;
	overflow: hidden;
}
.personal-cell:after{
	content: ">";
	position: absolute;
	right: 3%;
	top: 23%;
	color: #c7c7cc;
	font-size: 16px;
	font-weight: 800;
}
.personal-cell:first-child:after{
	top: 34%;
}
.personal-txt{
	font-size:14px;
	color: #000;
	float:left;
	line-height: 40px;
}
.personal-txt1{
	font-size:14px;
	color: #000;
	float:left;
}
.personal-txt2{
	font-size:14px;
	color: #000;
	float:right;
	margin-right: 6%;
}
.personal-img{
	float:right;
	margin-right: 6%;
	border:1px solid #a4a4a4;
	border-radius: 50%;
	overflow: hidden;
	width:40px;
	height: 40px;
	
}
.personal-img img{
	width:40px;
	height: 40px;
}


/* 修改用户名 */
.p-name{
	padding-left: 4%;
	border:0 none;
	font-size: 14px;
	padding-top: 8%;
	width: 80%;
}
.del-btn{
	width:15px;
	height: 15px;
	background: url(../images/icondel.png) no-repeat center;
	background-size: cover;
	position: absolute;
	right: 4%;
	top: 5%;
}
.submit-btn{
	width:92%;
	margin:0 auto;
	background-color: #db3652;
	margin-top: 8%;
	color: #fff;
	text-align: center;
	padding: 3% 0;
	font-size: 18px;
	border-radius: 6px;
}



/* 修改手机 */
.p-tel{
	padding-left: 4%;
	border:0 none;
	font-size: 14px;
	padding-top: 8%;
	width: 40%;
}
.tel-name{
	padding-left: 4%;
	color:#535353;
	font-size: 14px;
}
.tel{
	border-bottom: 1px solid #dddddd;
	padding-bottom: 4%;
}
.p-code{
	padding-left: 4%;
	border:0 none;
	font-size: 14px;
	padding-top: 8%;
	width: 60%;
}
.code-txt{
	float:right;
	padding:2% 4%;
	background-color: #cd2344;
	color:#fff;
	font-size: 14px;
	border-radius: 5px;
	margin-right: 5%;
	margin-top: 6%;
	border:0 none;
}


/* 底部导航栏 */
.footer{
	width:100%;
	position: fixed;
	z-index: 999;
	bottom: 0;
	border-top:1px solid #b2b2b2;
	background-color: #fff;
}
.footer a{
	width:20%;
	float:left;
	text-align: center;
	font-size: 12px;
	color:#9b9b9b;
}
.footer .nav-icon{
	width: 25px;
	height: 25px;
	background: url("../images/nav.png") no-repeat;
	background-size: cover;
	margin: 10px auto;
}
.nav1 .nav-icon{
	background-position: -145px 0;
}
.nav2 .nav-icon{
	background-position: -180px 0;
}
.nav3 .nav-icon{
	background-position: -215px 0;
}
.nav4 .nav-icon{
	background-position: -250px 0;
}
.nav5 .nav-icon{
	background-position: -284px 0;
}
.nav1.active .nav-icon{
	background-position: 0 0;
}
.nav2.active .nav-icon{
	background-position: -27px 0;
}
.nav3.active .nav-icon{
	background-position: -53px 0;
}
.nav4.active .nav-icon{
	background-position: -82px 0;
}
.nav5.active .nav-icon{
	background-position: -115px 0;
}
.footer .active .nav-txt{
	color:#db3652;
}


/* 购买成功 */
.icon-success{
	width:30%;
	display: block;
	margin:0 auto;
	margin-top:30%;
}
.success-txt1{
	color:#3d4245;
	font-size: 18px;
	text-align: center;
	padding: 3% 0;
}
.success-txt2{
	text-align: center;
	color:#aaa;
	font-size: 14px;
	margin-bottom: 3%;
}
.success-btn{
	overflow: hidden;
	width: 60%;
	margin:0 auto;
}
.success-btn1{
	float:left;
	width: 47%;
	font-size: 14px;
	background-color: #db3652;
	color: #fff;
	border: 1px solid #db3652;
	text-align: center;
	padding: 3% 0;
	border-radius: 3px;
}
.success-btn2{
	float:right;
	width: 47%;
	font-size: 14px;
	color: #5f646e;
	text-align: center;
	padding: 3% 0;
	border-radius: 3px;
	border: 1px solid #5f646e;
}
.success-btn3{
	display: block;
	margin:0 auto;
	width: 23%;
	font-size: 14px;
	color: #5f646e;
	text-align: center;
	padding: 2% 0;
	border-radius: 3px;
	border: 1px solid #5f646e;
}

/* 订单 */
.nav{
	overflow: hidden;
	border-bottom: 1px solid #dbdbdb;
}
.nav .nav-cell{
	float:left;
	width:20%;
	text-align: center;
}
.nav .nav-cell a{
	display: inline-block;
	color:#4c4c4c;
	padding: 18% 0;
}
.nav .nav-cell.active a{
	color:#db3652;
	border-bottom: 2px solid #db3652;
}
.order-empty{
	display: none;
}
.order-cell{
	padding: 0 2%;
}
.order-title{
	overflow: hidden;
	padding-top: 3%;
	padding-bottom: 5%;
}
.order-time{
	color:#a2a2a2;
	float:left;
	font-size: 14px;
}
.order-cell{
	overflow: hidden;
}
.order-price{
	float:right;
	font-size: 14px;
	color:#db3652;
}
.order-img{
	width:30%;
	margin-right: 3%;
	float:left;
}
.order-txt1{
	font-size: 12px;
	float:left;
	width:50%;
}
.order-txt2{
	float:left;
	width: 60%;
	font-size: 12px;
	padding: 3% 0;
	color: #a2a2a2;
}
.order-txt3{
	float: right;
	font-size: 14px;
	color: #a2a2a2;
}
.order-txt4{
	float: right;
	padding-top: 1%;
	font-size: 12px;
	color: #4c4c4c;
	width: 100%;
	text-align: right;
}
.order-btn{
	clear: both;
	overflow: hidden;
	padding: 2% 0;
	border-bottom: 1px solid #dbdbdb;
}
.order-btn1{
	font-size: 12px;
	color:#4c4c4c;
	border: 1px solid #4c4c4c;
	padding: 2%;
	border-radius: 5px;
	float:right;
}
.order-btn2{
	font-size: 12px;
	color:#db3652;
	border: 1px solid #db3652;
	padding: 2%;
	border-radius: 5px;
	float:right;
	margin: 0 2%;
}

/* 地址*/
.address-cell{
	padding: 3%;
	border-bottom: 1px solid #c8c7cc;
	overflow: hidden;
}
.address-name{
	float:left;
	font-size: 14px;
	padding: 2% 0;
}
.address-tel{
	float:right;
	font-size: 14px;
	padding: 2% 0;
}
.address-detail{
	clear: both;
	font-size: 14px;
	padding: 2% 0;
}
.address-btn{
	display: block;
	background: #db3652;
	width:94%;
	color:#fff;
	text-align: center;
	margin: 0 auto;
	padding: 3% 0;
	font-size: 18px;
	border-radius: 5px;
	margin-top: 5%;
}

/* 我的收藏 */
.collect-cell{
	border-top: 1px solid #d9d9d9;
	padding-top: 5%;
	margin-bottom: 5%;
}
.collect-cell:first-child{
	border: 0 none;
}
.collect-img{
	float: left;
	width: 25%;
	margin-right: 5%;
	margin-left: 5%;
}
.collect-txt1{
	font-size: 12px;
	color:#666;
	text-align: justify;
	float: left;
	width: 60%;
	padding-top: 4%;
}
.collect-txt2{
	color:#db3652;
	font-size: 12px;
	padding-top: 3%;
	float: left;
	width: 60%;
}
.collect-btn{
	width:100%;
	clear: both;
	background:#eaedf4;
	padding: 3% 0;
	overflow: hidden;
	border-bottom: 1px solid #d9d9d9;
}
.collect-btn1{
	float:left;
	width:calc(50% - 1px);
	color:#616c7f;
	text-align: center;
	font-size: 14px;
	border-right: 1px solid #d9d9d9;
}
.collect-btn2{
	float:left;
	width:50%;
	color:#616c7f;
	text-align: center;
	font-size: 14px;
}