/* reset */
html,blockquote,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul,section,body {margin:0;padding:0}
ol,ul {list-style:none}
a {text-decoration:none}
fieldset,img {border:0}
:focus{outline: none;}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{
	zoom:1;
}

@media screen and (min-width: 320px) {html {font-size: 14px;}}
@media screen and (min-width: 360px) {html {font-size: 16px;}}
@media screen and (min-width: 400px) {html {font-size: 18px;}}
@media screen and (min-width: 440px) {html {font-size: 20px;}}
@media screen and (min-width: 480px) {html {font-size: 22px;}}
@media screen and (min-width: 640px) {html {font-size: 28px;}}


.warper{
	max-width: 640px;
	margin: 0 auto;
}

.header{
	padding: 2rem 0 0 0;
	background: #3d66b6;
	background-size: cover;
	position: relative;
}
.header .header-img{
	margin: 0 auto;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	border: 3px solid #6a789c;
	text-align: center;
	overflow: hidden;
}
.header-txt1{
	width: 36%;
	margin:0 auto;
	background: url(../images/icon01.png) no-repeat;
	background-position: right 0.3rem;
	background-size: 1rem;
	color: #fff;
	font-size: 1rem;
	margin-top: 0.5rem;
}
.header .header-img img{
	width: 4rem;
	height: 4rem;
}
.header-txt2{
	color:#9fc5f2;
	font-size: 0.8rem;
	text-align: center;
	padding-top: 0.5rem;
}

.shopping{
	display: block;
	width:100%;
	background: #3c63ae;
	color:#fff;
	line-height: 2.5rem;
	width: 100%;
	font-size: 1rem;
	margin-top: 0.5rem;
}
.shopping .shopping-txt1{
	float:left;
	padding-left:2rem;
	background: url(../images/icon03.png) no-repeat;
	background-position: 0.5rem 0.7rem;
	background-size: 1rem;
}
.shopping .shopping-txt2{
	float:right;
	padding-right:2rem;
	background: url(../images/icon01.png) no-repeat;
	background-position: 4.5rem 0.8rem;
	background-size: 1rem;
}


.personal{
	width: 90%;
	overflow: hidden;
	background: #fff;
	padding: 5%;
}
.personal img{
	width: 90%;
}
.personal li{
	display: block;
	padding: 3% 0;
	position: relative;
	border-bottom: 1px solid #dbdbdb;
	background: url(../images/icon02.png) no-repeat;
	background-size: 1rem;
	background-position: 90% 0.9rem;
}

.personal li a{
	color:#000;
	font-size: 1rem;
}

.personal li i{
	color:#ccc;
	font-size: 1.2rem;
	float:left;
	padding-right: 0.5rem;
}



html,body{
	width: 100%;
	height: 100%;
}
.prize{
	background: #3a4794;
	width: 100%;
	height: 100%;
}

.toolbar{
	position: fixed;
	background: #38406d;
	color: #fff;
	width: calc(100% - 0.5rem);
	max-width: calc(640px - 0.5rem);
	font-size: 0.8rem;
	padding: 0.5rem 0;
	padding-left: 0.5rem;
}
.prize-img{
	width:80%;
	margin:0 auto;
	display: block;
	padding-top: 20%;
}
.prize-txt1{
	color:#fff;
	font-size: 0.8rem;
	text-align: center;
	padding: 1rem 0 1rem 0;
}
.prize-txt1 span{
	color: #c19c4b;
}
.prize-content{
	width: 90%;
	margin: 0 auto;
	background: url(../images/red.png) no-repeat;
	background-size: 100%;
	padding-top: 1.5rem;
}
.prize-txt2{
	color: #c19c4b;
	text-align: center;
	font-size: 1rem;
}
.prize-txt3{
	color: #c19c4b;
	text-align: center;
	font-size: 1rem;
	padding: 0.5rem 0;
}
.prize-txt3 span{
	font-size: 1.8rem;
}
.prize-img2{
	width: 33%;
	display: block;
	margin:0 auto;
	padding-top: 3rem;
}
.prize-txt4{
	color:#fff;
	text-align: center;
	font-size: 0.8rem;
	padding: 0.5rem;
}
.prize-txt5{
	color:#fff;
	text-align: center;
	padding:2rem;
	background: #3a4794;
}



.mask{
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	position: fixed;
	top:0;
	left: 0;
	z-index: 10;
	max-width: 640px;
}
.close-btn{
	width:10%;
	position: fixed;
	right: 2%;
	top:2%;
	z-index: 11;
}
.close-btn img{
	width:100%;
}
.redpage ,.redpage-bg{
    position: fixed;
    width: 80%;
    /* height: 59vh; */
    margin: auto;
    padding: 0;
    left: 0;
    top: 20%;
    right: 0;
    bottom: 0;
    z-index: 11;
    max-width: 512px;
}
.redpage img{
	width: 100%;
}
.redpage .red-btn{
	position: absolute;
	top: 13.5rem;
	display: block;
	width: 35%;
	height: 29vw;
	left: 33%;
}
.redpage-bg img{
	width: 100%;
}
.redpage-bg{
	display: none;
}
.redpage-bg1{
	position: absolute;
	top: 0px;
}
.redpage-bg2{
	position: absolute;
	top:42%;
}