/* reset */
html,blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0;padding:0;}
html,body{font-family: "Microsoft YaHei";}
h1,h2,h3,h4,h5,h6 {font-size:100%}
address,cite,dfn,em,var {font-style:normal}
ol,ul {list-style:none}
a {text-decoration:none}
a:hover {text-decoration:none;}
fieldset,img {border:0}
button,input,select,textarea {font-size:100%}
table {border-collapse:collapse;border-spacing:0}
:focus{outline: none;}
.clearfix:after{
	content:" ";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix{zoom:1;}

.header{
	width:1200px;
	margin:0 auto;
}
.header .logo-img{
	float:left;
}
.header .nav{
	float: right;
}
.header .nav li{
	float: left;
	width:120px;
	height: 90px;
}
.header .nav li a{
	display: block;
	width:120px;
	text-align: center;
	height: 90px;
	color:#323232;
	line-height: 90px;
	font-size: 16px;
}
.header .nav li a.current{
	color:#d40000;
}
.header .nav li a.active{
	color:#d40000;
}
.header .nav li a i{
	font-style: normal;
	font-size: 12px;
}

.slideBox {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.slideBox .hd {
	height: 15px;
	overflow: hidden;
	position: absolute;
	width:100%;
	bottom: 30px;
	z-index: 1;
}
.slideBox .hd ul {
	/* overflow: hidden; */
	zoom: 1;
	width:100%;
	text-align: center;
}
.slideBox .hd ul li {
	display: inline-block;
	margin-right: 2px;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	text-align: center;
	background: #ccc;
	cursor: pointer;
	margin-bottom: 2px;
}
.slideBox .hd ul li.on {
	background: #ffffff;
}
.slideBox .bd {
	width:100%;
	position: relative;
	height: 100%;
	z-index: 0;
}
.slideBox .bd li {
	zoom: 1;
	width:100%;
	vertical-align: middle;
}
.slideBox .bd img {
	width: 100%;
	display: block;
}
/*ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â½Ãƒâ€šÃ‚Â®ÃƒÆ’Ã‚Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢Ãƒâ€šÃ‚Â­End*/


.serverCenter{
	width: 1200px;
	margin:0 auto;
}
.serverTitle{
	font-family: "Arail";
	font-size: 24px;
	text-align: center;
	font-weight: normal;
	padding-top: 26px;
}
.serverTitle2{
	text-align: center;
	padding-bottom: 45px;
}
.serverTxt1{
	font-size: 14px;
	padding: 0 5px;
	color: #ababab;
	position: relative;
	top: 5px;
}
.design-left{
	width:577px;
	float:left;
	padding-bottom: 50px;
}
.serverCell{
	width: 25%;
	float: left;
	text-align: center;
	padding-bottom: 33px;
	/* padding-top: 30px; */
}
.serverCell img{
	width:80%;
}
.serverMore{
	display: block;
	width:125px;
	height: 30px;
	line-height: 30px;
	border:1px solid #999;
	text-align: center;
	margin:0 auto;
	clear:both;
	color: #666;
	margin-bottom: 60px;
}
.serverCircle{
	width:75px;
	height: 75px;
	border-radius: 75px;
	border:1px solid #000;
	margin:0 auto;
	margin-top:62px;
	margin-bottom: 42px;
}
.serverTitle3{
	font-weight: 400;
	font-size: 24px;
	padding-bottom: 25px;
}
.serverTxt2{
	color:#5e5e5e;
	font-size: 12px;
	width:305px;
	line-height: 25px;
	margin:0 auto;
	padding-top: 20px;
}
.serverBtn{
	display: block;
	width:120px;
	margin:0 auto;
	color:#010101;
	cursor: pointer;
	font-size: 12px;
	border:1px solid #010101;
	padding: 3px 0;
	text-align: center;
	border-radius: 5px;
	margin-top:25px;
}
.serverTxt3{
	font-size: 12px;
	text-align: center;
}

.viewWork{
	width:100%;
	background: #f0f0f0;
}
.viewWork .serverTitle{
	color: #4d4d4d;
	padding-top:45px;
}
.viewWork .serverTxt1{
	color: #ababab;
}
.viewWork .serverTxt3{
	color: #4d4d4d;
	padding-bottom: 50px;
	width: 1200px;
	margin: 0 auto;
	text-align: justify;
	font-size: 14px;
	line-height: 25px;
}
.viewWork-img{
	width:25%;
	*width:24.9%;
	float: left;
}

.design{
	width:1200px;
	margin:0 auto;
	padding-bottom: 40px;
}
.design-cell{
	width:298px;
	border:1px solid #fff;
	float:left;
	padding-bottom: 55px;
	cursor: pointer;
}
.design-cell.on{
	border:1px solid #000;
}
.design-img{
	width: 100%;
	display: block;
}
.design-title1{
	font-size: 16px;
	color: #4d4d4d;
	\: normal;
	padding: 10px 0;
}
.design-title2{
	color: #4d4d4d;
	font-size: 14px;
	float: left;
	width: 350px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.design-txt3{
	width: 550px;
	color: #666;
	font-size: 14px;
	line-height: 20px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.design-right{
	float:right;
	width: 550px;
}
.design-time{
	float:left;
	width:60px;
	margin-right: 20px;
}
.design-day{
	color:#666666;
	font-size:25px;
	text-align:center;
	line-height:39px;
	margin-bottom:1px;
	background:#f2f2f2;
}
.design-date{
	font-size:12px;
	color:#999999;
	line-height:22px;
	background:#f2f2f2;
	text-align:center;
}
.design-txt4{
	width: 422px;
	float: left;
	color: #666666;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	padding-top: 11px;
}
.design-datetime{
	display: block;
	padding-bottom: 30px;
}


.slideBox2{
	width:100%;
	background: #282828;
	padding: 35px 0 ;
	position: relative;
}
.slideBox2 .slide{
	width:1125px;
	overflow: hidden;
	margin:0 auto;
	padding-left:75px;
}
.slideBox2 .slideContent{
	overflow: hidden;
	zoom:1;
}
.slideBox2 .slideCell{
	float: left;
	width:190px;
	margin-right: 25px;
}
.slideBox2 .slideCell img{
	display: block;
	width:190px;
}
.prevBtn{
	position: absolute;
	left:50%;
	top:95px;
	margin-left: -600px;
	cursor: pointer;
}
.nextBtn{
	position: absolute;
	right:50%;
	top:95px;
	margin-right: -600px;
	cursor: pointer;
}

.logo{
	text-align: center;
	padding:60px 0 95px 0;
}
.logo-txt1{
	font-size: 14px;
	padding-top:10px;
	text-align: center;
}
.logo-txt2{
	font-size: 14px;
	text-align: center;
	padding-top: 5px;
}

.contact{
	background: #f8f8f8;
	padding-bottom: 40px;
}
.contact .serverTitle{
	padding-top:40px;
	color:#fff;
}
.contact .serverTitle2{
	color:#fff;
}
.contact .serverTxt3{
	padding-top: 5px;
	color:#fff;
}
.contact-content{
	width:1200px;
	margin:0 auto;
	padding-top: 45px;
}
.contact-address{
	width: 200px;
	text-align: left;
	float: left;
	color:#d2d2d2;
	font-size: 14px;
}
.contact-tel{
	width: 200px;
	text-align: left;
	float: left;
	color:#d2d2d2;
	font-size: 14px;
}
.contact-email{
	width: 230px;
	text-align: left;
	float: left;
	color:#d2d2d2;
	font-size: 14px;
}
.contact-title{
	color:#333;
	font-size: 16px;
	padding-bottom: 15px;
}
.contact-txt{
	color:#999;
	line-height: 25px;
	font-size: 14px;
}
.contact-code{
	width:120px;
	float: right;
	padding-right: 180px;
}
.contact-code img{
	width:100%;
}
.contact-codeTxt{
	text-align: center;
	font-size: 12px;
	color:#999999;
}

.footer{
	background: #282828;
	height: 60px;
	line-height: 60px;
	color: #fff;
	text-align: center;
	font-size: 12px;
}


/* Ã¥â€¦Â³Ã¤ÂºÅ½Ã¦Ë†â€˜Ã¤Â»Â¬ */
.banner{
	width: 100%;
}
.banner img{
	width:100%;
}
.stroy{
	width:1200px;
	margin: 0 auto;
}
.stroy-btn{
	width:100%;
	text-align: center;
	overflow: hidden;
	padding: 30px 0;
}
.stroy-btn1{
	font-size: 14px;
	color:#333;
	border:1px solid #c3c3c3;
	border-radius: 8px;
	padding: 10px 15px;
	margin-right: 20px;
	display: inline-block;
}
.stroy-btn1.active{
	color:#e20000;
	border-color: #e20000;
}
.stroy-content{
	width:100%;
	padding-top: 48px;
}

.stroy-txt{
	font-size:14px;
	color:#4d4d4d;
	padding-bottom: 20px;
	line-height: 23px;
}






.contactUs{
	width:100%;
	background: #f6655d;
}
.contactUs-img{
	width:45%;
	float: left;
}
.contactUs-content{
	padding: 130px 0 0 80px;
	float:left;
	color:#fff;
	font-size: 16px;
}
.contactUs-title{
	font-size: 30px;
}
.contactUs-txt1{
	font-size: 16px;
	padding: 45px 0 20px 0 ;
}
.contactUs-txt2{
	padding-top: 10px;	
}

.news{
	width:1200px;
	margin: 0 auto;
}
.tab{
	padding-top: 20px;
	padding-left: 40px;
}
.tab .tab-cell{
	color:#3c3c3c;
	font-size: 14px;
	float:left;
	width:100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	border:1px solid #fff;
}
.tab .tab-cell.active{
	border:1px solid #000;
}

.pagination{
	width:100%;
	padding: 60px 0;
	text-align: center;
}
.pagination li{
	display: inline;
	padding:7px 14px;
	cursor: pointer;
	color:#777;
	border:1px solid #777;
}
.pagination li.active{
	background: #e20000;
	color:#fff;
	border-color: #e20000;
}



.news .design-datetime{
	border-bottom: 1px dashed #ccc;
	padding-top: 30px;
}
.news .design-title2{
	width: 900px;
}
.news .design-txt4{
    width: 1120px;
}
.newsDeatail-time{
	text-align: center;
	color:#999;
	padding: 10px;
	font-size: 12px;
}
.newsDeatail-txt1{
	color:#4d4d4d;
	font-size: 14px;
}
.newsDeatail-txt2{
	color:#4d4d4d;
	font-size: 14px;
	padding-bottom: 30px;
}
.contact-img{
	margin:45px 0;
}
.contactleft{
	line-height: 35px;
	font-size: 14px;
	color:#4d4d4d;
	padding-bottom: 100px;
	float:left;
}
.contactright{
	float:right;
	padding-right: 35px;
}
.contactright img{
	width:172px;
}
.contactright p{
	text-align: center;
	color:#4d4d4d;
	font-size: 14px;
}

.nav2{
	width:167px;
	background: #fffbf7;
	margin-left:20px;
	color:#fff;
	overflow: hidden;
	float: left;
	padding-top: 34px;
	padding-bottom: 40px;
}
.nav2-title{
	color:#969696;
	display: block;
	padding: 15px ;
	font-size: 14px;
	position: relative;
	background: #575757;
	color:#fff;
}
.nav2 .nav2-cell{
	color:#969696;
	display: block;
	padding: 15px ;
	font-size: 14px;
	position: relative;
}
.nav2 .nav2-cell:after{
	content:"";
	display: block;
	width: 90%;
	height: 1px;
	position: absolute;;
	left:5%;
	bottom: 0;
	background: #e9e5e1;

}
.nav2 .nav2-cell.active{
	color:#d40000;
}
.content-r{
	float:right;
	width: 990px;
	padding-top: 38px;
}
.content-header{
	position: relative;
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.content-r .content-title{
	font-size: 20px;
	color:#2c2c2c;
}
.content-r .content-header2{
	position: absolute;
	right: 7px;
	top: 4px;
	font-size: 12px;
	color: #5e5e5e;
}
.content-r .about-txt1{
	color:#808080;
	font-size: 12px;
	line-height: 20px;
}
.content-r .about-title1{
	color:#000;
	font-size: 12px;
	padding:35px 0;
}

.content-r{
	padding-bottom: 200px;
}