
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493689005076'); /* IE9*/
  src: url('iconfont.eot?t=1493689005076#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493689005076') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493689005076') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493689005076#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before { content: "\e612"; }

.icon-dingdan:before { content: "\e607"; }

.icon-shanchu:before { content: "\e7de"; }

.icon-gouwuche:before { content: "\e600"; }

.icon-tongxunlu:before { content: "\e687"; }

.icon-dagou:before { content: "\e608"; }

.icon-dingwei2:before { content: "\e611"; }

.icon-huoche-copy:before { content: "\e602"; }

.icon-zhong-copy:before { content: "\e604"; }

.icon-gengduo:before { content: "\e620"; }

.icon-shang:before { content: "\e63c"; }

.icon-xia:before { content: "\e63d"; }

.icon-zuo:before { content: "\e63e"; }

.icon-wupin:before { content: "\e79b"; }

.icon-gantanhao:before { content: "\e614"; }

.icon-shoujianxiang:before { content: "\e63f"; }

.icon-smile:before { content: "\e502"; }

