@charset "utf-8";
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html,body,h1,h2,h3,hr,p,dl,dt,dd,ul,ol,li,form,button,input,textarea,th,td {margin:0px auto; padding:0;font-size:1em;}
ul,ol,li {list-style:none;}
table{border-collapse:collapse; border-spacing:0;}
a img, img, embed, object {border:none; vertical-align:middle;}
em, i {font-style:normal;}
/** Link */
a:link, a:visited {text-decoration:none; color:#2a313b;}
a:hover, a:active {text-decoration:none; color:#2a313b;}
/* body */
.ybj{
-webkit-background-size:100% auto;
-moz-background-size:100% auto;
background-size:100% auto;
background-repeat:no-repeat;
background-position:center top;
}

/*对话框样式*/
.askdis-not{
-webkit-transition:opacity 0.5s;
opacity:0;
top:0px;
left:0px;
}
.myasktbox{
width:70%;
height:auto;
left:15%;
bottom:0px;
margin:0px auto;
padding:0px;
overflow:hidden;

}

.askdis-not .myasktbox{
-webkit-transition:-webkit-transform 0.5s,opacity 0.2s;
-webkit-transform:translate(0,0) rotate(0deg);
opacity:0;
}

.askdis-yes{
-webkit-transition:opacity 0.5s;
opacity:1;
top:0px;
left:0px;
}

.askdis-yes .myasktbox{
-webkit-transition:-webkit-transform 0.5s,opacity 0.2s;
-webkit-transform:translate(0,-80px) rotate(0deg);
opacity:1;
}

.tscsdiv{
opacity:0;
-webkit-animation:tsMo 1.5s linear 0.1s 1;
-webkit-transition:-webkit-transform 0.5s,opacity;
}
@-webkit-keyframes tsMo{
        0%{-webkit-transform:translate(0,2em);opacity:0;}
		30%{-webkit-transform:translate(0,0em);opacity:1;}
		70%{-webkit-transform:translate(0,0em) rotate(0deg);opacity:1;}
		100%{-webkit-transform:translate(0,2em) rotate(0deg);opacity:0;}
}

.Zbtnbox{
position:fixed;
width:100%;
height:80%;
overflow:visible;
bottom:2.9em;
}
.CdbtnBox{
	position:absolute;
	z-index:2;
	width:7em;
	bottom:0em;
	margin-left:-3.5em;
	border: 1px solid #c0c0c0;
	background-color:#f9f9f9;
	border-radius:.5em .5em 0em 0em;
	box-shadow: 0em 0em 0.6em 0em #b2b2b2;
}
.foorbtnbox input + div {
	-webkit-transition:-webkit-transform 0.1s ease-in 0.4s;
    -webkit-transform:translate(0em,100%) rotate(0deg);
}
.foorbtnbox input + div .CdbtnBox{
	-webkit-transition:-webkit-transform 0.2s ease-in 0.2s;
    -webkit-transform:translate(0em,10em) rotate(0deg) scale(0.2);
}

.foorbtnbox input:checked +div {
	-webkit-transition:-webkit-transform 0.1s ease-in 0.1s;
    -webkit-transform:translate(0em,0em) rotate(0deg);
}
.foorbtnbox input:checked +div .CdbtnBox{
	-webkit-transition:-webkit-transform 0.2s ease-in 0.2s;
    -webkit-transform:translate(0em,0em) rotate(0deg) scale(1);
}

/*分类排版*/
.typeselF input +div{
background-position:90% center;
background-repeat:no-repeat;
background-image:url(/images/go07.png);
background-size:auto 0.8em;
}
.typeselF input:checked +div{
background-color:#f1f1f1;
background-image:url();
}
.typeselZ input +div{
background-color:#f1f1f1;
}
.typeselZ input:checked +div{
background-position:90% center;
background-repeat:no-repeat;
background-image:url(/images/ico-yes02.png);
background-size:auto 0.8em;
}

.Productcss1{
 margin:0.3em;
}
.Productcss1 .pDiv{
  width:50%;
  max-width:13em;
  float:left;
}
.Productcss1 .prodbox{
margin:0px auto; padding:0px;
margin:0.3em;
display:box;
display:-moz-box;
display:-webkit-box;
-webkit-box-orient:vertical;
-moz-box-orient:vertical;
box-orient:vertical;
background-color:#FFFFFF;
}
.Productcss1 .ProdimgBox{
 margin:0px auto; padding:0px;
 display:inline-block;
 width: 100%;
 overflow:hidden;
}
.Productcss1 .ProdimgBox::after{
    display: block;
    padding-top: 100%;
    content : '';
}
.Productcss1 .ProdtxtBox{
 margin:0.3em;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.Productcss2{
	margin:0em;
	background-color:#FFFFFF;
}
.Productcss2 .pDiv{
  width:100%;
  float:left;
  max-width:31em;
  border-bottom: 1px solid #ccc;
  margin-right:0.8em;
}
.Productcss2 .prodbox{
margin:0px auto; padding:0px;
margin:0.5em;
display:box;
display:-moz-box;
display:-webkit-box;

-webkit-box-orient:horizontal;
-moz-box-orient:horizontal;
box-orient:horizontal;
}
.Productcss2 .ProdimgBox{
 margin:0px auto; padding:0px;
 display:inline-block;
 width:5.5em;
 overflow:hidden;
}
.Productcss2 .ProdimgBox::after{
    display: block;
    padding-top: 100%;
    content : '';
}
.Productcss2 .ProdtxtBox{
 margin-left:0.5em;
}

.btn-cs1{
 background-color:#fe9a33;
 color:#fff;
}
.btn-cs2{
 background-color:#ff6700;
 color:#fff;
}/*模块*/
/*通用调用类*/
.inw{
width:90%;
float:left;
}
.mybg1{
background: url(../images/bg.jpg) no-repeat fixed;
}
/*设置弹性盒子*/
.bcc{
display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;
display:-moz-box;-moz-box-align:center;-moz-box-pack:center;
display:-o-box;-o-box-align:center;-o-box-pack:center;
display:-ms-box;-ms-box-align:center;-ms-box-pack:center;
display:box;box-align:center;box-pack:center;
}

.boxu{
display:box;
display:-moz-box;
display:-webkit-box;
overflow:hidden;

}
/*弹性方向*/
.boxu-h{ /*横*/
-webkit-box-orient:horizontal;
-moz-box-orient:horizontal;
box-orient:horizontal;
}
.boxu-s{ /*竖*/
-webkit-box-orient:vertical;
-moz-box-orient:vertical;
box-orient:vertical;
}
.boxu-f{ /*承父级*/
box-orient:inherit;
-moz-box-orient:inherit;
-webkit-box-orient:inherit;
}
.boxbf1{
-moz-box-flex:1.0; /* Firefox */
-webkit-box-flex:1.0; /* Safari 和 Chrome */
box-flex:1.0;
overflow:hidden;
}
.boxbf2{
-moz-box-flex:2.0; /* Firefox */
-webkit-box-flex:2.0; /* Safari 和 Chrome */
box-flex:2.0;
overflow:hidden;
}
.boxbf3{
-moz-box-flex:3.0; /* Firefox */
-webkit-box-flex:3.0; /* Safari 和 Chrome */
box-flex:3.0;
overflow:hidden;
}
.hid{
overflow:hidden;
}
.divmargin{
margin:0px auto; padding:0px;
overflow:hidden;
}
.boxdiv{
width:100%;
height:auto;
overflow:hidden;
margin:0px auto;
}
.tbox{
width:100%;
height:100%;
overflow:hidden;
margin:0px auto;
}
/*宽*/
.wid1{
width:1002px;
}
.wid2{
width:980px;
}
.wid3{
width:830px;
}
.wid4{
width:160px;
}

.btnw1{
width:60px;
}
.btnw2{
width:70px;
}
.btnw3{
width:80px;
}
.btnw4{
width:90px;
}
.btnw5{
width:100px;
}
.btnw6{
width:110px;
}
.btnw7{
width:120px;
}
.btnw8{
width:130px;
}
.wid1-a{
width:32%;
}
.wid1-b{
margin-right:1.9%;
}

.pos1{
position:absolute;
}
.pos2{
position:fixed;
}
.pos3{
position:relative;
}
/*圆角*/
.yjnot{
border-radius:0em;
}
.yj0{
border-radius:.25em;
}
.yj1{
border-radius:.3em;
}
.yj2{
border-radius:0.8em;
}
.yj3{
border-radius:1em;
}
.yj4{
border-radius:1.5em;
}
.yj5{
border-radius:3em;
}
.yj6{
border-radius:10em;
}
.yjt1{
border-radius:.25em 0em .25em 0em;
}
/*背景阴影1*/
.by0{
	-moz-box-shadow: 0em 0em 0.2em 0em #333;
    -webkit-box-shadow: 0em 0em 0.2em 0em #333;
    box-shadow: 0em 0em 0.2em 0em #333;
}
.by1-1{
	-moz-box-shadow: 0em 0em 0.6em 0em #f1f1f1;
    -webkit-box-shadow: 0em 0em 0.6em 0em #f1f1f1;
    box-shadow: 0em 0em 0.6em 0em #f1f1f1;
}
.by1-2{
	-moz-box-shadow: 0em 0em 0.6em 0em #e1e1e1;
    -webkit-box-shadow: 0em 0em 0.6em 0em #e1e1e1;
    box-shadow: 0em 0em 0.6em 0em #e1e1e1;
}
.by1-3{
	-moz-box-shadow: 0em 0em 0.6em 0em #d0d0d0;
    -webkit-box-shadow: 0em 0em 0.6em 0em #d0d0d0;
    box-shadow: 0em 0em 0.6em 0em #d0d0d0;
}
.by1-4{
	-moz-box-shadow: 0em 0em 0.6em 0em #bcbcbc;
    -webkit-box-shadow: 0em 0em 0.6em 0em #bcbcbc;
    box-shadow: 0em 0em 0.6em 0em #bcbcbc;
}

.by2-1{
	-moz-box-shadow: 0em 0em 1em 0em #f1f1f1;
    -webkit-box-shadow: 0em 0em 1em 0em #f1f1f1;
    box-shadow: 0em 0em 1em 0em #f1f1f1;
}
.by2-2{
	-moz-box-shadow: 0em 0em 1em 0em #e1e1e1;
    -webkit-box-shadow: 0em 0em 1em 0em #e1e1e1;
    box-shadow: 0em 0em 1em 0em #e1e1e1;
}
.by2-3{
	-moz-box-shadow: 0em 0em 1em 0em #d0d0d0;
    -webkit-box-shadow: 0em 0em 1em 0em #d0d0d0;
    box-shadow: 0em 0em 1em 0em #d0d0d0;
}
.by2-4{
	-moz-box-shadow: 0em 0em 1em 0em #bcbcbc;
    -webkit-box-shadow: 0em 0em 1em 0em #bcbcbc;
    box-shadow: 0em 0em 1em 0em #bcbcbc;
}
.by2-5{
	-moz-box-shadow: 0em 0em 1em 0em #187727;
    -webkit-box-shadow: 0em 0em 1em 0em #187727;
    box-shadow: 0em 0em 1em 0em #187727;
}

.bgyy2{
	-moz-box-shadow: 0em 0em 0.6em 0em #666;
    -webkit-box-shadow: 0em 0em 0.6em 0em #666;
    box-shadow: 0em 0em 0.6em 0em #666;
}
.bgyy3{
-moz-box-shadow: 0em 0em 0.6em 0em #636f83;
-webkit-box-shadow: 0em 0em 0.6em 0em #636f83;
box-shadow: 0em 0em 0.6em 0em #636f83;
}
.bgyy4{
	-moz-box-shadow: 0em 0em 0.6em 0em #e9e9e9;
    -webkit-box-shadow: 0em 0em 0.6em 0em #e9e9e9;
    box-shadow: 0em 0em 0.6em 0em #e9e9e9;
}
/*背景渐变*/
.bgjb1{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f6f6f6));
background: -moz-linear-gradient(top, #fff, #f6f6f6);
}
.bgjb2{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#990000));
background: -moz-linear-gradient(top, #ff0000, #990000); 
color:#ffffff;
}
.bgjb3{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#15191a), to(#3b494c));
background: -moz-linear-gradient(top, #15191a, #3b494c);
}
.bgjb4{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#3b494c), to(#15191a));
background: -moz-linear-gradient(top, #3b494c, #15191a);
}

.bgs1{
-webkit-background-size:100% 100%;
-moz-background-size:100% 100%;
background-size:100% 100%;
}
.bgs2{
-webkit-background-size:100% auto;
-moz-background-size:100% auto;
background-size:100% auto;
}
.bgs3{
-webkit-background-size:auto 100%;
-moz-background-size:auto 100%;
background-size:auto 100%;
}

.bgsh1{
-webkit-background-size:auto 100%;
-moz-background-size:auto 100%;
background-size:auto 100%;
}
.bgsh95{
-webkit-background-size:auto 95%;
-moz-background-size:auto 95%;
background-size:auto 95%;
}
.bgsh90{
-webkit-background-size:auto 90%;
-moz-background-size:auto 90%;
background-size:auto 90%;
}
.bgsh85{
-webkit-background-size:auto 85%;
-moz-background-size:auto 85%;
background-size:auto 85%;
}
.bgsh80{
-webkit-background-size:auto 80%;
-moz-background-size:auto 80%;
background-size:auto 80%;
}
.bgsh75{
-webkit-background-size:auto 75%;
-moz-background-size:auto 75%;
background-size:auto 75%;
}
.bgsh70{
-webkit-background-size:auto 70%;
-moz-background-size:auto 70%;
background-size:auto 70%;
}
.bgsh65{
-webkit-background-size:auto 65%;
-moz-background-size:auto 65%;
background-size:auto 65%;
}
.bgsh60{
-webkit-background-size:auto 60%;
-moz-background-size:auto 60%;
background-size:auto 60%;
}
.bgsh50{
-webkit-background-size:auto 50%;
-moz-background-size:auto 50%;
background-size:auto 50%;
}
.bgsh40{
-webkit-background-size:auto 40%;
-moz-background-size:auto 40%;
background-size:auto 40%;
}
.bgsh30{
-webkit-background-size:auto 30%;
-moz-background-size:auto 30%;
background-size:auto 30%;
}
.bgsw100{
-webkit-background-size:100% auto;
-moz-background-size:100% auto;
background-size:100% auto;
}
.bgsw95{
-webkit-background-size:95% auto;
-moz-background-size:95% auto;
background-size:95% auto;
}
.bgsw90{
-webkit-background-size:90% auto;
-moz-background-size:90% auto;
background-size:90% auto;
}
.bgsw85{
-webkit-background-size:85% auto;
-moz-background-size:85% auto;
background-size:85% auto;
}
.bgsw80{
-webkit-background-size:80% auto;
-moz-background-size:80% auto;
background-size:80% auto;
}
.bgsw75{
-webkit-background-size:75% auto;
-moz-background-size:75% auto;
background-size:75% auto;
}
.bgsw70{
-webkit-background-size:70% auto;
-moz-background-size:70% auto;
background-size:70% auto;
}
.bgsw65{
-webkit-background-size:65% auto;
-moz-background-size:65% auto;
background-size:65% auto;
}

.bgsw60{
-webkit-background-size:60% auto;
-moz-background-size:60% auto;
background-size:60% auto;
}


.bgx-l{
background-position:left;
}
.bgx-c{
background-position:center;
}
.bgx-r{
background-position:right;
}
.bgy-t{
background-position:top;
}
.bgy-c{
background-position:center;
}
.bgy-b{
background-position:bottom;
}
/*背景平铺方式*/
.bgpp-x{
background-repeat:repeat-x;
}
.bgpp-y{
background-repeat:repeat-y;
}
.bgpp-no{
background-repeat:no-repeat;
}

/*背景颜色*/
.bgcol0{
background-color:#b934a2;
}
.bgcol1{
background-color:#f6a9b1;
}
.bgcol2{
background-color:#fcdee1;
}
.bgcol3{
background-color:#d8cacb;
}
.bgcol4{
background-color:#eee8e9;
}
.bgcol5{
background-color:#fff;
}
.bgcol6{
background-color:#fff1d1;
}
.bgcol7{
background-color:#e6dbdc;
}
.bgcol8{
background-color:#ff0000;
}
.bgcol9{
background-color:#f5f5f5;
}
.bgcol10{
background-color:#fafbe7;
}
.bgwx1{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#3e494f), to(#15191c));
background: -moz-linear-gradient(top, #3e494f, #15191c);
}

.bg1{
background-color:#01a54f;
}
.bg1-1{
background: -webkit-gradient(linear, 0 0, 0 100%, from(#00bd5a), to(#008e44));
background: -moz-linear-gradient(top, #00bd5a, #008e44);
}

.bg2{
background-color:#fdb932;
}
.bg3{
background-color:#d5d920;
}
.bg4{
background-color:#f258a1;
}
.bg5{
background-color:#f46f20;
}
.bg6{
background-color:#33a4e0;
}

.bj-wx1{
  background-color:#303537;
}
.bj-wx2{
  background-color:#474e51;
}
.bj-wx3{
  background-color:#66696b;
}


.bj-w1{
  background-color:#fff;
}
.bj-w2{
  background-color:#f1f1f1;
}
.bj-w3{
  background-color:#e1e1e1;
}
.bj-w4{
  background-color:#cacaca;
}
.bj-w5{
  background-color:#c3c2c2;
}
.bj-w6{
  background-color:#bdbcbc;
}
.bj-w7{
  background-color:#b5b4b4;
}
.bj-w8{
  background-color:#adacac;
}

.bj-r1{
  background-color:#ff0000;
}
.bj-r2{
  background-color:#e90000;
}
.bj-r3{
  background-color:#d60000;
}
.bj-r4{
  background-color:#c20101;
}
.bj-r5{
  background-color:#ab0000;
}
.bj-r6{
  background-color:#910000;
}

.bj-b1{
  background-color:#0066ff;
}
.bj-b2{
  background-color:#005ae1;
}
.bj-b3{
  background-color:#004bbc;
}
.bj-b4{
  background-color:#003e9b;
}
.bj-b5{
  background-color:#003079;
}
.bj-b6{
  background-color:#00245b;
}

.bj-y1{
  background-color:#f0ff00;
}
.bj-y2{
  background-color:#d5e200;
}
.bj-y3{
  background-color:#bac600;
}
.bj-y4{
  background-color:#9ea800;
}
.bj-y5{
  background-color:#858d00;
}
.bj-y6{
  background-color:#6a7101;
}
.bj-c1{
  background-color:#ffba00;
}
.bj-c2{
  background-color:#e9aa00;
}
.bj-c3{
  background-color:#d3a400;
}
.bj-c4{
  background-color:#ffa200;
}
.bj-c5{
  background-color:#e69200;
}
.bj-c6{
  background-color:#ff9000;
}

.bj-jhs1{
  background-color:#fe6600;
}
.bj-jhs2{
  background-color:#ec5f01;
}
.bj-jhs3{
  background-color:#da5801;
}


.tmbj-w1{
background:rgba(255,255,255,0.1)
}
.tmbj-w2{
background:rgba(255,255,255,0.2)
}
.tmbj-w3{
background:rgba(255,255,255,0.3)
}
.tmbj-w4{
background:rgba(255,255,255,0.4)
}
.tmbj-w5{
background:rgba(255,255,255,0.5)
}
.tmbj-w6{
background:rgba(255,255,255,0.6)
}
.tmbj-w7{
background:rgba(255,255,255,0.7)
}
.tmbj-w8{
background:rgba(255,255,255,0.8)
}
.tmbj-w9{
background:rgba(255,255,255,0.9)
}

.tmbj-b1{
background:rgba(0,0,0,0.1)
}
.tmbj-b2{
background:rgba(0,0,0,0.2)
}
.tmbj-b3{
background:rgba(0,0,0,0.3)
}
.tmbj-b4{
background:rgba(0,0,0,0.4)
}
.tmbj-b5{
background:rgba(0,0,0,0.5)
}
.tmbj-b6{
background:rgba(0,0,0,0.6)
}
.tmbj-b7{
background:rgba(0,0,0,0.7)
}
.tmbj-b8{
background:rgba(0,0,0,0.8)
}
.tmbj-b9{
background:rgba(0,0,0,0.9)
}




.imgw1 img{
width:100%;
}
.imgw2 img{
mix-width:100%;
}
.imgw3 img{
max-width:100%;
}
.imgh1 img{
height:100%;
}
.imgh2 img{
mix-height:100%;
}
.imgh3 img{
max-height:100%;
}
.imgm img{
margin-bottom:0.4em;
}

.imgyj img{
border-radius:.5em;
}
/*鼠标经过*/
.sjbg1:hover{
	background-color:#ddf1fd;
	cursor:pointer;
}
.sjbg2:hover{
	background-color:#ffeded;
	cursor:pointer;
}
.sjbg3:hover{
	background-color:#ffedfe;
	cursor:pointer;
}
.ona{
cursor:pointer;
}
/*鼠标经过背景*/
.sbbj1-1:hover{
background-color:#ffebeb;
cursor:pointer;
}
.sbbj1-2:hover{
background-color:#fdebff;
cursor:pointer;
}
.sbbj1-3:hover{
background-color:#ebebff;
cursor:pointer;
}
.sbbj1-4:hover{
background-color:#ebfeff;
cursor:pointer;
}
.sbbj1-5:hover{
background-color:#ebffed;
cursor:pointer;
}
.sbbj1-6:hover{
background-color:#ffffeb;
cursor:pointer;
}

.sbbj2-1:hover{
background-color:#ff8181;
cursor:pointer;
}
.sbbj2-2:hover{
background-color:#ff81fe;
cursor:pointer;
}
.sbbj2-3:hover{
background-color:#818dff;
cursor:pointer;
}
.sbbj2-4:hover{
background-color:#81fffe;
cursor:pointer;
}
.sbbj2-5:hover{
background-color:#81ff8d;
cursor:pointer;
}
.sbbj2-6:hover{
background-color:#fffe81;
cursor:pointer;
}

.sbbj3-1:hover{
background-color:#ad2121;
cursor:pointer;
}
.sbbj3-2:hover{
background-color:#ad21a8;
cursor:pointer;
}
.sbbj3-3:hover{
background-color:#2521ad;
cursor:pointer;
}
.sbbj3-4:hover{
background-color:#218ead;
cursor:pointer;
}
.sbbj3-5:hover{
background-color:#21ad5c;
cursor:pointer;
}
.sbbj3-6:hover{
background-color:#a8ad21;
cursor:pointer;
}

.sbtc1:hover{
color:#fff;
}
.sbtc2:hover{
color:#000;
}




.a1 a{
width:100%;
height:100%;
float:left;
}
/*边框样式0*/
.bk0{
border:0px;
}
.bk-x1{
	border-style:solid;
	border-width:0px;
	border-color:#F0F0F0;
}
.bk-x2{
	border-style:dashed;
	border-width:0px;
	border-color:#F0F0F0;
}

.bk-t1{
	border-top-width: 1px;
}
.bk-t2{
	border-top-width: 2px;
}
.bk-t3{
	border-top-width: 3px;
}
.bk-r1{
	border-right-width: 1px;
}
.bk-r2{
	border-right-width: 2px;
}
.bk-r3{
	border-right-width: 3px;
}
.bk-l1{
	border-left-width: 1px;
}
.bk-l2{
	border-left-width: 2px;
}
.bk-l3{
	border-left-width: 3px;
}
.bk-b1{
	border-bottom-width: 1px;
}
.bk-b2{
	border-bottom-width: 2px;
}
.bk-b3{
	border-bottom-width: 3px;
}
.bk-cw1{
   border-color:#fff;
}
.bk-cw2{
   border-color:#f1f1f1;
}
.bk-cw3{
   border-color:#e1e1e1;
}
.bk-cw4{
   border-color:#cacaca;
}
.bk-cw5{
   border-color:#c3c2c2;
}
.bk-cw6{
   border-color:#bdbcbc;
}
.bk-cw7{
   border-color:#b5b4b4;
}
.bk-cw8{
   border-color:#adacac;
}




.bkb1-0{
border: 1px solid #000;
}
.bkb1-1{
border: 1px solid #232323;
}
.bkb1-2{
border: 1px solid #3e3e3e;
}
.bkb1-3{
border: 1px solid #535353;
}
.bkb1-4{
border: 1px solid #696969;
}

.bk-c0p1{
border-bottom:1px solid #232729;
}
.bk1{
border: 1px solid #c4c4c4;
}
.bk2{/*边框样式1*/
border: 1px solid #dfdfdf;
}
.bk3{/*边框样式2*/
border: 1px solid #b5b5b5;
}
.bk4{/*边框样式3*/
border: 2px solid #263032;
}
.bk5{
border: 2px solid #fff;
}
.bk6{
	border: 1px dashed #CCCCCC;
}
.bkt1{
border-top: 1px solid #CCCCCC;
}
.bkr1{
border-right: 1px solid #CCCCCC;
}
.bkl1{
border-left: 1px solid #CCCCCC;
}
.bkb1{
border-bottom: 1px solid #CCCCCC;
}
.bkt2{
border-top: 2px solid #fefefe;
}
.bks1{/*边框样式4*/
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #fefefe;
	border-top: 1px solid #fefefe;
	border-right: 1px solid #e1e1e1;
}
.bks2{/*边框样式4*/
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #fefefe;
	border-top: 1px solid #fefefe;
	border-right: 1px solid #e1e1e1;
}

.bks3{/*边框样式4*/
	border-bottom: 1px solid #2d3235;
}
.bks4{/*边框样式4*/
	border-bottom: 1px solid #888888;
}
.bks5{
border-left: 1px solid #fefefe;
border-right: 1px solid #fefefe;
}

.backbtn{/*后退按钮1*/
	width:3em;
	height:3em;
	background:#ff0000;
	border-radius:5em;
	overflow:hidden;
	font-size:1.0em;
	line-height:3em;
	text-align:center;
	color:#FFFFFF;
	position: fixed;
	left:0.2em;
	bottom:0.2em;
	float:left;
	opacity:0.8;
	-moz-box-shadow: 0em 0em 0.6em 0em #333;
    -webkit-box-shadow: 0em 0em 0.6em 0em #333;
    box-shadow: 0em 0em 0.6em 0em #333;
}
.sbtn{/*后退按钮1*/
	width:2.5em;
	height:2.5em;
	background:#ff0000;
	border-radius:5em;
	overflow:hidden;
	font-size:1.0em;
	line-height:2.5em;
	text-align:center;
	color:#FFFFFF;
	position: fixed;
	left:0.2em;
	bottom:0.2em;
	float:left;
	opacity:0.8;
	-moz-box-shadow: 0em 0em 0.6em 0em #333;
    -webkit-box-shadow: 0em 0em 0.6em 0em #333;
    box-shadow: 0em 0em 0.6em 0em #333;
	z-index:200;
}
.sinput{
width:100%;
height:100%;
border-radius: 0px 0px 0px 5em ;
text-align:center;
font: bold 1em Arial, Helvetica, sans-serif;
background:#333;
opacity:0.95;
top:0px;
left:0px;
position:fixed;
z-index:170;
}
.sbox{
width:80%;
height:auto;
margin:0px 5%;
position:fixed;
top:35%;
left:0px;
text-align:center;
border-radius:3em;
border: 0.7em solid #000;
float:left;
z-index:180;
overflow:hidden;
background:#FFFFFF;
}
.sbox input{
width:80%;
height:2em;
padding-left:1em;
float:left;
border:0px;
border-radius:5em;
line-height:2em;
background:none;
}
.sbox .sgobtn{
width:10%;
height:2em;
padding:0px 0.3em;
float:left;
border:0px;
background:#fff;
color:#333;
}

.put0{
	width:100%;
	height:100%;
	border: 1px solid #d8d8d8;
	background:#ffffff;
	line-height:150%;
	font-size:13px;
}

.put1{
	width:100%;
	height:28px;
	border: 1px solid #d8d8d8;
	background:#ffffff;
	line-height:150%;
	font-size:13px;
}




/*加载相关*/
#pullDown, #pullUp {
	height:2.0em;
	line-height:2.0em;
	padding:0.5em;
	font-weight:bold;
	font-size:1em;
	color:#888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon{
	display:block; float:left;
	width:2em; height:2em;
	background:url(../images/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:100% auto; background-size:100% auto;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}



/*无信息样式*/
.nothing{
width:100%;
height:30%;
line-height:180%;
font-size:1.5em;
text-align:center;
color:#ccc;
}
.nothing p{
width:100%;
height:auto;
line-height:180%;
font-size:0.8em;
text-align:center;
color:#444;
}
.toleft{float:left;}
.toright{float:right;}

.go01{/*按钮小三角*/
background-image:url(/images/go01.png);
background-repeat:no-repeat;
background-position:right center;
-webkit-background-size:1.5em 1.5em;
-moz-background-size:1.5em 1.5em;
background-size:1.5em 1.5em;
}
.go02{/*按钮小三角*/
background-image:url(/images/go02.png);
background-repeat:no-repeat;
background-position:right bottom;
-webkit-background-size:auto 30%;
-moz-background-size:auto 30%;
background-size:auto 30%;
}

.gourlbtn{
width:90%;
height:auto;
margin:0px 4%;
padding:.6em 0px;
border-radius:.5em;
color:#fff;
overflow:hidden;
text-align:center;
}
.gourl{
	position:fixed;
	top:0px;
	left:0px;
	z-index:10;
	clear: both;
	float: none;
	overflow: hidden;
	visibility: visible;
	margin-top:1em;
}
.sqjr{/*申请加入的表单*/
width:70%;
height:1.8em;
margin:0.2em 0px;
border-radius:.5em;
}
/*间距*/
.m0{margin:0px auto;}
.m1{margin:0.2em;}
.m2{margin:0.3em;}
.m3{margin:0.5em;}
.m4{margin:0.8em;}
.m5{margin:1.5em;}

.mr1{margin-right:0.2em;}
.mr2{margin-right:0.3em;}
.mr3{margin-right:0.5em;}
.mr4{margin-right:0.8em;}
.ml1{margin-left:0.2em;}
.ml2{margin-left:0.3em;}
.ml3{margin-left:0.5em;}
.ml4{margin-left:0.8em;}

.mt0{margin-top:2.5em}
.mt1{margin-top:0.2em;}
.mt2{margin-top:0.3em;}
.mt3{margin-top:0.5em;}
.mt4{margin-top:0.8em;}
.mb0{margin-bottom:2.5em}
.mb1{margin-bottom:0.2em;}
.mb2{margin-bottom:0.3em;}
.mb3{margin-bottom:0.5em;}
.mb4{margin-bottom:0.8em;}
.mb5{margin-bottom:1.2em;}

.p0{padding:0px;}
.p0d1{padding:0.1em;}
.p1{padding:0.2em;}
.p2{padding:0.3em;}
.p3{padding:0.5em;}
.p4{padding:0.8em;}
.p5{padding:1.5em;}
.pr1{padding-right:0.2em;}
.pr2{padding-right:0.3em;}
.pr3{padding-right:0.5em;}
.pr4{padding-right:0.8em;}
.pl1{padding-left:0.2em;}
.pl2{padding-left:0.3em;}
.pl3{padding-left:0.5em;}
.pl4{padding-left:0.8em;}
.pl5{padding-left:1em;}
.pl6{padding-left:1.2em;}
.pl7{padding-left:1.4em;}

.pt1{padding-top:0.2em;}
.pt2{padding-top:0.3em;}
.pt3{padding-top:0.5em;}
.pt4{padding-top:0.8em;}
.pt5{padding-top:1.5em;}
.pb1{padding-bottom:0.2em;}
.pb2{padding-bottom:0.3em;}
.pb3{padding-bottom:0.5em;}
.pb4{padding-bottom:0.8em;}
.pb5{padding-bottom:1.5em;}

/*字样式*/
.tl{
text-align:left;
}
.tc{
text-align:center;
}
.tr{
text-align:right;
}
.ts-0d1{font-size:0.1em !important;}
.ts-0d2{font-size:0.2em !important;}
.ts-0d3{font-size:0.3em !important;}
.ts-0d4{font-size:0.4em !important;}
.ts-0d5{font-size:0.5em !important;}
.ts-0d6{font-size:0.6em !important;}
.ts-0d7{font-size:0.7em !important;}
.ts-0d8{font-size:0.8em !important;}
.ts-0d9{font-size:0.9em !important;}
.ts-1{font-size:1.0em !important;}
.ts-1d0{font-size:1.0em !important;}
.ts-1d2{font-size:1.2em !important;}
.ts-1d3{font-size:1.3em !important;}
.ts-1d4{font-size:1.4em !important;}
.ts-1d5{font-size:1.5em !important;}
.ts-1d6{font-size:1.6em !important;}
.ts-1d7{font-size:1.7em !important;}
.ts-1d8{font-size:1.8em !important;}
.ts-1d9{font-size:1.9em !important;}
.ts-2{font-size:2.0em !important;}

.tcol-w9{color:#000;} .tcol-w8{color:#333333;} .tcol-w7{color:#666;} .tcol-w6{color:#888888;} .tcol-w5{color:#b2b2b2;} .tcol-w4{color:#ccc;}.tcol-w3{color:#e0e0e0;
}.tcol-w2{color:#ededed;}.tcol-w1{color:#fff;}

.tcol-r1{color:#ff0000;}.tcol-r2{color:#d40000;}.tcol-r3{color:#af0000;}.tcol-r4{color:#860000;}.tcol-r5{color:#600000;}.tcol-r6{color:#390000;}

.tcol-p1{color:#ea00ff;}.tcol-p2{color:#c300d4;}.tcol-p3{color:#9d00ab;}.tcol-p4{color:#770082;}.tcol-p5{color:#510058;}.tcol-p6{color:#2d0031;}

.tcol-b1{color:#0006ff;}.tcol-b2{color:#0005ce;}.tcol-b3{color:#0004a1;}.tcol-b4{color:#000371;}.tcol-b5{color:#000244;}.tcol-b6{color:#00012a;}

.tcol-g1{color:#00ff24;}.tcol-g2{color:#00d71e;}.tcol-g3{color:#00ac18;}.tcol-g4{color:#008012;}.tcol-g5{color:#00510b;}.tcol-g6{color:#002605;}

.tcol-y1{color:#f0ff00;}.tcol-y2{color:#cdcb00;}.tcol-y3{color:#9c9a00;}.tcol-y4{color:#717000;}.tcol-y5{color:#434200;}.tcol-y6{color:#565525;}

.tcol-z1{color:#ff0097;}.tcol-z2{color:#db0081;}.tcol-z3{color:#b8006d;}.tcol-z4{color:#950058;}.tcol-z5{color:#7d004a;}.tcol-z6{color:#62003a;}
.tcol-t1{color:#654d00;}.tcol-t2{color:#7e6000;}.tcol-t3{color:#967300;}.tcol-t4{color:#ad8400;}.tcol-t5{color:#c99900;}.tcol-t6{color:#e5af00;}

.tzt1{
	font-family: Arial, Helvetica, sans-serif;
}
.tzt2{
	font-family: "微软雅黑";
}
.tx1{
	text-decoration:none;
}
.tx2{
	text-decoration: underline;
}
.tx3{
	text-decoration: line-through;
}
.tb1{
	font-weight: bold;
}
.tsl1{
text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}
.tsl-2{
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
word-break:break-all;
}
.tsl-3{
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.tsl-4{
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
}
.tline1{
line-height:100%;
}
.tline2{
line-height:150%;
}
.tline3{
line-height:180%;
}
.tline4{
	line-height:200%;
}

.divHtml table{
width:100% !important;
height:auto !important;
}
.divHtml td{
width:auto !important;
padding:0.2em !important;
}
.divHtml img{
max-width:100% !important;
height:auto !important;
}
.divHtml iframe{
width:100% !important;
min-height:18em !important;
margin-bottom:0.3em !important;
}

.divHtml,.divHtml p,.divHtml span,.divHtml div,.divHtml li,.divHtml td, .divHtml a{
line-height:150% !important;
font-size:1em !important;
}

.rzinput input{
width:100%;
height:100%;
line-height:150%;
background:none;
border:0em;
}
.rzinput textarea{
width:100%;
min-height:3em;
line-height:150%;
background:none;
border:0em;
}
.rzradio input{
width:1.5em;
height:1.5em;
background:#fff;
}

/*上一页下一页*/
.pagebtnbox{
width:70%;
height:2em;
margin:.8em 15%;
line-height:150%;
}

.loadingimg{
 background-image:url(/images/loadico.png);
 background-position:center;
 background-repeat:no-repeat;
 background-size:95% 95%;
 -webkit-animation:loadmove 1s linear 0.1s infinite;
}
@-webkit-keyframes loadmove
{
    from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}